
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello. My name is <span class="highlight">Robert Collins</span> and I have creative ideas and build websites.</h2>
      <a href="portfolio" class="btn right">View My Work</a>
    </div>
  </div>  
</div><!-- main section -->

